<div class="periodSelect">
  <ng-select #periodSelect id="report-period-select"
    [items]="period"
    [active]="[selectedPeriod]"
    (selected)="periodSelected($event, periodSelect.element, 'select', 'user_action')"
    placeholder="period">
  </ng-select>
</div>


<div class="modal fade" bsModal #periodModal="bs-modal" [config]="{ backdrop: true }" (onHide)="hideModal()"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Set custom period</h4>
      </div>
      <div class="modal-body">
        <div class="row justify-content-around">


          <div class="col-5">
            <label>From</label>
            <p class="input-group">
              <input
                [ngModel]="startDate | date:'yyyy-MM-dd'"
                (focus)="showStartPicker = false; showEndPicker = false"
                (blur)="setStartInputValue($event)"
                class="form-control"/>
              <span class="input-group-btn">
                <button (click)="showStartPicker = !showStartPicker; showEndPicker = false " class="btn btn-default" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </p>
            <div *ngIf="showStartPicker" style="position: absolute; z-index:10; min-height:290px;">
              <datepicker
                [(ngModel)]="startDate "
                [showWeeks]="true"
                [maxDate]='maxDate'
                (selectionDone)="startDate = $event ; showStartPicker = false; this.minDate = $event "
              ></datepicker>
            </div>
          </div>

          <div class="col-5">
            <label>To</label>
            <p class="input-group">
              <input
                [ngModel]="endDate | date:'yyyy-MM-dd'"
                (focus)="showStartPicker = false; showEndPicker = false"
                (blur)="setEndInputValue($event)"
                class="form-control" />
              <span class="input-group-btn">
                <button (click)="showEndPicker = !showEndPicker; showStartPicker = false " class="btn btn-default" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </p>
            <div *ngIf="showEndPicker" style="position: absolute; z-index:10; min-height:290px;">
              <datepicker
                [(ngModel)]="endDate "
                [showWeeks]="true"
                [minDate]='minDate'
                (selectionDone)="endDate = $event ; showEndPicker = false "
              ></datepicker>
            </div>
          </div>


          <br>
          <div class="col-12 buttonBlock">
            <button type="button" class="btn pull-right" aria-label="Close" (click)="periodModal.hide()">
              <span aria-hidden="true">Close</span>
            </button>
            <button type="button" class="btn btn-primary pull-left" aria-label="Close"
                    [disabled]="!endDate || !startDate"
                    (click)="applyPeriodModal()">
              <span aria-hidden="true">Apply</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
