:host /deep/ .periodSelect .btn-secondary,
:host /deep/ .periodSelect .ui-select-search {
  color: #fff;
  background-color: #36a9e1;
  border-color: #36a9e1;
}

:host /deep/ {
  .periodSelect {
    margin-bottom: 15px;
    width: 195px;
    .ui-select-match-text {
      word-break: break-word;
      width: 90%;
    }
  }
  .input-group {
    margin-bottom: 0;
  }
  .dropdown-menu {
    min-width: 0;
  }
  .buttonBlock{
    margin-top:15px;
  }
}
