<div bsModal #twitterAccountModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="twitterAccountLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col">
          <div class="row">
            <div class="col-11">
              <img [src]="providerImagePath" [alt]="'Twitter icon'" class="account-provider-image">
              <span class="modal-title account-name">Twitter Advertisement Account</span>
            </div>
            <div>
              <button type="button" class="close" (click)="twitterAccountModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <alerts [alerts]="alerts" *ngIf="alerts"></alerts>
          </div>
        </div>

        <div *ngIf="connectionInfo.isConnected">
          <div class="input-group mb-1">
            <span class="input-group-addon">Username</span>
            <span class="connection-field">{{ connectionInfo.name }}</span>
          </div>

          <div class="input-group mb-1">
            <span class="input-group-addon">Account ID*</span>
            <span class="connection-field">{{ connectionInfo.accountId }}</span>
          </div>
        </div>

        <div class="input-group mb-1">
          <span class="input-group-addon">Status</span>
          <provider-connection [isConnected]="connectionInfo.isConnected" class="connection-field"></provider-connection>
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="connectionInfo.isConnected">
          <button type="submit" class="btn btn-primary">Test</button>
          <button type="button" class="btn btn-primary" (click)="onDisconnect()">Disconnect</button>
        </div>
        <div *ngIf="!connectionInfo.isConnected">
          <button type="submit" class="btn btn-primary" (click)="onConnect()" disabled>Connect</button>
        </div>
      </div>
    </div>
  </div>
</div>

<confirm [data]="confirmData" (prompt)="onConfirm($event)"></confirm>
