<div class="animated fadeIn">
  <alerts [alerts]="formErrors" *ngIf="formErrors"></alerts>

  <form class="form-horizontal" [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <div class="row form-group" [ngClass]="validationClasses.url.formGroup">
          <label class="col-2 col-sm-1 col-md-2 form-control-label" for="url">
            URL
          </label>
          <div class="col-10 col-sm-6 col-md-10">
            <input type="url" id="url" class="form-control" placeholder="my-store-name.myshopify.com" formControlName="url" [ngClass]="validationClasses.url.formControl" (blur)="onBlur()" [readonly]="authorized">
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <button class="btn btn-primary" (click)="onAuthorizeButtonClick();" [disabled]="authorized">
          Authorize
        </button>
        <button class="btn btn-primary" (click)="onImportButtonClick();">
          Import
          <i tooltip="New orders will be imported hourly" class="fa fa-lg fa-info-circle" aria-hidden="true" placement="right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<confirm [data]="confirmData" (prompt)="onConfirm($event)"></confirm>
