<div class="row justify-content-around">
  <div class="selectWrapper">
    <label>Type</label>
    <ng-select #selectType id="advertisement-type"
      [items]="Chart.type"
      [active]="[activeType]"
      (selected)="typeSelected($event, selectType.element, 'select', 'select-filter')"
      placeholder="y-axis">
    </ng-select>
  </div>
  <div class="selectWrapper">
    <label>Segment</label>
    <ss-multiselect-dropdown #selectSegment id="advertisement-segment"
      [options]="segmentOptions"
      [(ngModel)]="segmentModel"
      [texts]="segmentTexts"
      [settings]="segmentSettings"
      (ngModelChange)="segmentSelected($event, selectSegment.element, 'select', 'select-filter')">
    </ss-multiselect-dropdown>

  </div>
  <div class="selectWrapper">
    <label>Time</label>
    <ng-select #selectTime id="advertisement-time"
      [items]="currentTime"
      [active]="[time]"
      (selected)="timeSelected($event, selectTime.element, 'select', 'select-filter')"
      placeholder="time">
    </ng-select>
  </div>
</div>
<div class="row justify-content-center">
  <div *ngIf='load' class="col-sm-10 chartWrapper">
    <canvas baseChart
            [datasets]="Chart.data"
            [options]="Chart.options"
            [colors]="Chart.colors"
            [legend]="Chart.legend"
            [chartType]="Chart.chartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div *ngIf='!load' class="col-sm-10 chartWrapper__noData">
    <h4>no data for chart</h4>
  </div>
</div>
