:host /deep/ .btn-secondary,
:host /deep/ .ui-select-search {
  color: #fff;
  background-color: #36a9e1;
  border-color: #36a9e1;

}
.chartWrapper{
  margin-top:25px;
  &__noData{
    margin-top:25px;
    text-align: center;
    border: 1px solid lightGrey;
    border-radius:5px;
    height: 150px;
    h4{
      line-height: 150px;
      color:lightGrey;
    }
  }
}
.selectWrapper{
  width:160px;
}

:host /deep/ .segment-select a span {
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

:host /deep/ .segment-wrapper {
  width: 100%;
  .dropdown-menu {
    width: 100%;
    li {
      padding-top: 5px;
      padding-bottom: 3px;
      &.divider {
        padding: 0;
      }
    }
    li > a {
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      width: 100%;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    li:hover > a {
      color: white;
    }
    .dropdown-item i {
      color: #9da0a8;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: #428bca;
    }
  }
  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }

}

:host /deep/ .dropdown-menu {
  min-width: 0;
}
:host /deep/ .dropdown-toggle::after {
  position: absolute;
  right: 15px;
  top: 49%;
}
