<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col lg-3">
        <div class="card mx-4">
          <div class="card-block p-3">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="alert alert-success" role="alert" *ngIf="confirm.status" >{{confirm.message}}</div>
            <div class="input-group mb-2">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" (keyup)="email.style.borderColor='#E4E6EB'" placeholder="Email" #email>
            </div>
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" (keyup)="first_name.style.borderColor='#E4E6EB'" placeholder="First name" #first_name>
            </div>
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input type="text" class="form-control" (keyup)="last_name.style.borderColor='#E4E6EB'" placeholder="Last name" #last_name>
            </div>
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
              <input type="text" class="form-control" (keyup)="company.style.borderColor='#E4E6EB'" placeholder="Company" #company>
            </div>
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" class="form-control" (keyup)="account_name.style.borderColor='#E4E6EB'" placeholder="Account name" #account_name>
            </div>
            <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" (keyup)="password.style.borderColor='#E4E6EB'" placeholder="Password" #password>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" (keyup)="repeat_password.style.borderColor='#E4E6EB'" placeholder="Repeat password" #repeat_password>
            </div>
            <button type="button" class="btn btn-block btn-success" (click)="onCreate()">Create Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


