.btn-success {
  color: #fff;
  background-color: #bdea74;
  border-color: #bdea74;
}
.input-group-addon{
  border: none;
}
.form-control{
  color: #9da0a8;
}
.card{
  border: none;
}
.app{
  background: #f5f5f5;
}
.alert{
  position: relative;
  top: -20px;
  padding: 3px;
  margin-bottom: -15px;
}
