<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <div class="row">
              <h1 class="col-6">Login</h1>
                <span class="col-6 align-bottom" id="status" *ngIf="states.processing">User is authenticating... <img width="20px" alt="processing" src='{{assetsUrl}}/img/select2-spinner.gif'/></span>
                <small class="col-6 alert alert-danger" id="error" *ngIf="states.error">Your username or password is incorrect</small>
              </div>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-1">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control"
                       (keyup)="$event.keyCode === 13 && onLogin(email.value, password.value )" value=""
                       placeholder="Email" #email>
              </div>
              <div class="input-group mb-2">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control"
                       (keyup)="$event.keyCode === 13 && onLogin(email.value, password.value )" value=""
                       placeholder="Password" #password>
              </div>
              <div class="row">
                <div class="col-4">
                  <button type="button" class="btn btn-primary px-2" (click)="onLogin(email.value, password.value)"
                          id="button-login" #loginBtn>Login
                  </button>
                </div>
                <div class="col-8">
                  <button class="btn btn-block btn-google" (click)="onGoogle()">
                    <i class="fa fa-google"></i> Sign in with Google
                  </button>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-12">
                  <a routerLink="/register">
                    <button type="button" class="btn btn-primary btn-link px-0">Create account</button>
                  </a>or
                  <a routerLink="/reset">
                    <button type="button" class="btn btn-link px-0">Reset password</button>
                  </a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
