<div class="card">
  <div class="card-header">
    File Format
  </div>
  <div class="card-block">
    <p class="card-text">
      Importing sales data is required to be in the following format (required fields are marked in bold):
    </p>
    <p class="card-text">
      <ng-template ngFor let-field [ngForOf]="fields | slice:0:8" let-i="index">
        <strong>{{ field }}</strong>{{ fields.length - 1 > i ? ', ' : '' }}
      </ng-template>
      <ng-template ngFor let-field [ngForOf]="fields | slice:8" let-last="last">
        {{ field + (last ? '' : ', ') }}
      </ng-template>
    </p>
    <p class="card-text">
      &lt;example data lines&gt;
    </p>
    <p class="card-text">
      See example file here:
      <a class="card-link" [routerLink]="'#'">Example File</a>
    </p>
  </div>
</div>
