<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <alerts [alerts]="alerts" *ngIf="alerts"></alerts>
    </div>
  </div>
</div>
<div class="row justify-content-end">
  <h4>Period:</h4>
  <period-select (setPeriod) = "periodObj = $event"></period-select>
</div>

<div class="row">
  <div class="col">
    <tabset type="pills" >
      <div>
        <hr>
      </div>
      <tab [heading]="tab.heading" [attr.id]="tab.id" customClass="navigationTabsHeader" *ngFor="let tab of tabs; let i = index" (select)="trackSelection($event, 'view', 'tab')">
        <ng-container [ngSwitch]="i">
          <div *ngSwitchCase="0">
            <sales-chart [period]="periodObj"></sales-chart>
          </div>
          <div *ngSwitchCase="1">
            <advertisement-chart [period]="periodObj"></advertisement-chart>
          </div>
        </ng-container>
      </tab>
    </tabset>
  </div>
</div>






