<div class="animated fadeIn">
  <alerts [alerts]="formErrors" *ngIf="formErrors"></alerts>

  <form class="form-horizontal" [formGroup]="form">
    <div class="row form-group" [ngClass]="validationClasses.url.formGroup">
      <!-- [ngClass]="form.controls['url'].touched && (form.controls['url'].valid ? 'has-success' : 'has-danger')"" -->
      <div class="col-md-6">
        <div class="row">
          <label class="col-2 col-sm-1 col-md-2 form-control-label" for="s3-url">
            URL
          </label>
          <div class="col-10 col-sm-6 col-md-10">
            <input type="url" id="s3-url" class="form-control" placeholder="s3://" formControlName="url" [ngClass]="validationClasses.url.formControl" (blur)="onBlur()">
            <!-- [ngClass]="form.controls['url'].touched && (form.controls['url'].valid ? 'form-control-success' : 'form-control-danger')"" -->
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" [ngClass]="validationClasses.key.formGroup">
      <div class="col-md-6">
        <div class="row">
          <label class="col-2 col-sm-1 col-md-2 form-control-label" for="s3-key">
            Key
          </label>
          <div class="col-10 col-sm-6 col-md-10">
            <input type="text" id="s3-key" class="form-control" placeholder="AKIAITX7WT4KATXYFRPD" formControlName="key" [ngClass]="validationClasses.key.formControl" (blur)="onBlur()">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row form-group" [ngClass]="validationClasses.secret.formGroup">
          <label class="col-2 col-sm-1 col-md-2 form-control-label" for="s3-secret">
            Secret
          </label>
          <div class="col-10 col-sm-6 col-md-10">
            <input type="text" id="s3-secret" class="form-control" placeholder="JXGrprm+jlCSic2yx1Vaq0UeLIbBhc+eVX7JTnFy" formControlName="secret" [ngClass]="validationClasses.secret.formControl" (blur)="onBlur()">
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <button class="btn btn-primary" (click)="onImportButtonClick()">
          Import
        </button>
      </div>
    </div>
    <div class="row form-group" formGroupName="schedule">
      <div class="col checkbox">
        <label for="reimport">
          <input type="checkbox" id="reimport" value="true" formControlName="reimport"> Reimport file daily
          <i tooltip="We will re-import file only if it has changed from previous import" class="fa fa-lg fa-info-circle" aria-hidden="true" placement="right"></i>
        </label>
      </div>
    </div>
    <div class="row form-group" formGroupName="schedule">
      <label class="col-md-2 form-control-label">Import Type</label>
      <div class="col-md-10">
        <label class="radio-inline mr-h" for="overwrite">
          <input type="radio" id="overwrite" value="overwrite" formControlName="type">
          Overwrite
        </label>
        <label class="radio-inline" for="append">
          <input type="radio" id="append" value="append" formControlName="type">
          Append
        </label>
      </div>
    </div>
  </form>

  <file-format></file-format>
</div>

<confirm [data]="confirmData" (prompt)="onConfirm($event)"></confirm>
