<div class="progress">
  <div [ngClass]="classes" role="progressbar" [ngStyle]="{ 'width.%': value }" [attr.aria-valuenow]="value" aria-valuemin="0" aria-valuemax="100">
    {{ value }}%
  </div>
</div>
