<div class="container">
  <div class="row justify-content-center align-items-center" style="margin-top:20%">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="alert alert-danger" *ngIf="statuses.error.status">{{statuses.error.message}}</div>
            <div class="alert alert-success" *ngIf="statuses.complete.status">{{statuses.error.message}}</div>
            <div class="panel-body">
              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control" type="email" #email>
                  </div>
                </div>
                <div class="form-group">
                  <input name="recover-submit" class="btn btn-lg btn-primary btn-block"  (click)="onReset(email.value)" value="Reset Password" type="button">
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
