<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <alerts [alerts]="alerts" *ngIf="alerts"></alerts>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <tabset type="pills">
      <div>
        <hr>
      </div>
      <tab  [active]='tab.active' (select)="tab.active = true" [heading]="tab.heading" *ngFor="let tab of tabs; index as i" customClass="navigationTabsHeader">
        <ng-container [ngSwitch]="i">
          <file-import *ngSwitchCase="0"></file-import>
          <s3 *ngSwitchCase="1"></s3>
          <google-storage *ngSwitchCase="2"></google-storage>
          <shopify-import *ngSwitchCase="3"></shopify-import>
        </ng-container>
      </tab>
    </tabset>
  </div>
</div>


