:host /deep/ {
  .fa-warning {
    color: orange;
  }
  .fa-edit {
    color: #36a9e1;
  }
  .fa-check-square-o {
    color: #5cb85c;
  }
  .fa-square-o {
    color: #3b5998;
  }
  select {
    background-size: 12px 15px !important;
    border: none !important;
    width: 40px !important;
  }
  label {
    margin: 2px 8px;
    font-size: 14px;
  }
  hr {
    margin: 0;
    width: 100%;
  }
  select::-ms-expand {
    display: none !important;
  }
  span.sort-btn.sort-desc.datatable-icon-down,
  span.sort-btn.sort-asc.datatable-icon-up {

  }
  .yellow {
    display: inline-block;
    background-color: #FFEA20;
    width: 100%;
  }
  .statisticsTable {
    th, td {
      padding: 4px 8px 4px 0
    }
  }
  .editableLine {
    cursor: pointer;
  }
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {

    height: 100%;
    padding: 0;
    text-align: center;
    div {
      display: inline-block;
      width: 100%;
      height: 48px;
      background-color: #131324;
      color: whitesmoke;
    }
    .firstLine {
      height: 48px;
      margin-bottom: 0;
      padding: 5px;
      position: relative;
    }
    .secondLine {
      height: 50%;
      margin-bottom: 0;
      padding: 5px;
      background-color: white;
      position: relative;
      color: dimgrey;
    }
    .firstLine,
    .secondLine {
      input {
        width: 100%;
      }
    }

  }
  .ngx-datatable.fixed-header .datatable-header .datatable-header-inner {
    height: 100%;
  }
  .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {

    padding: 5px;
    text-align: center;
    input {
      width: 100%;
      line-height: 16px;
    }
  }

}
