<div class="row">
  <div class="col-6">
    <p></p>
    <button class="btn btn-primary">Update</button>
    <button (click)="resetData()" [disabled]="isDisabled" class="btn btn-default">Reset</button>
  </div>
  <div class="col-6">
    <div class="float-right">
      <h4>Period:</h4>
      <period-select (setPeriod)="setPeriod($event)"></period-select>
    </div>
  </div>
</div>



<div #tableWrapper >
  <ngx-datatable #table class="material  fill-width"
                 [headerHeight]="'96'"
                 [footerHeight]="'auto'"
                 [scrollbarH]="'true'"
                 [rowHeight]="'auto'"
                 [columnMode]="'force'"
                 [rows]="rows">

    <ngx-datatable-column name="Name" prop="name" min-width=80>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Name</p>
        <p class="secondLine"></p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
        <span>
        {{value}}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="recency" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Recency</p>
        <p class="secondLine"></p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="frequency" width=75>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Frequency</p>
        <p class="secondLine"></p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="monetary" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Monetary</p>
        <p class="secondLine"></p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="currentCount" width=60>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Current <br> count</p>
        <p class="secondLine"></p>
      </ng-template>
    </ngx-datatable-column>

    <!--facebook-->

    <ngx-datatable-column prop="fbPublished" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Facebook</p>
        <p class="secondLine">Published</p>
      </ng-template>
      <template ngx-datatable-cell-template let-value="value">
        <i *ngIf="value" class="fa fa-check-square-o"></i>
        <i *ngIf="!value" class="fa fa-square-o"></i>
      </template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fbMatchCount" width=60>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">Match<br>count</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
        <i *ngIf="value<1000" class="fa fa-warning" title="size should be > 1000"></i>
        {{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="fbCpaBid" width=50>
      <ng-template ngx-datatable-header-template let-column="column.prop">
        <p class="firstLine"></p>
        <p class="secondLine editableLine" (click)="editing[column] = true"
           *ngIf="!editing[column]">
          CPA<br>bid
          <i class="fa fa-edit"
             title="click to edit all column value and double click in cell for edit one value"
          ></i>
        </p>
        <p class="secondLine"
           *ngIf="editing[column]">
          <input
            [autofocus]
            (blur)="updateColValue($event, column)"
            (keydown.enter)="updateColValue($event, column)"
            type="text"
            [value]=""
          />
        </p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-column="column.prop">
      <span class="editableLine"
        [ngClass]="getCellClass(row.$$index, column, value)"
        title="Click to edit"
        (click)="activateEditMode(row.$$index, column)"
        *ngIf="!editing[row.$$index +  column]">
      {{value}}
      </span>
        <input
          [autofocus]
          (blur)="updateValue($event,  column, value, row)"
          (keydown.enter)="updateValue($event,  column, value, row)"
          *ngIf="editing[row.$$index +  column]"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="fbBudget" width=70>
      <ng-template ngx-datatable-header-template let-column="column.prop">
        <p class="firstLine"></p>
        <p class="secondLine editableLine" (click)="editing[column] = true"
           *ngIf="!editing[column]">
          Budget
          <i class="fa fa-edit"
             title="click to edit all column value and double click in cell for edit one value"
          ></i>
        </p>
        <p class="secondLine"
           *ngIf="editing[column]">
          <input
            [autofocus]
            (blur)="updateColValue($event, column)"
            (keydown.enter)="updateColValue($event, column)"
            type="text"
            [value]=""
          />
        </p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-column="column.prop">
      <span class="editableLine"
        [ngClass]="getCellClass(row.$$index, column, value)"
        title="Click to edit"
        (click)="activateEditMode(row.$$index, column)"
        *ngIf="!editing[row.$$index + column]">
      {{value}}
      </span>
        <input
          [autofocus]
          (blur)="updateValue($event, column, value, row )"
          (keydown.enter)="updateValue($event, column, value, row )"
          *ngIf="editing[row.$$index + column]"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fa_ctr" width=40>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">CTR</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      {{value}}%
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fa_conversions" width=50>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">Conv. <br> rate</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      {{value}}%
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fa_cost" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine"> Cost <br> (USD)</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      ${{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="fa_cpa" width=50>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine"> CPA <br> (USD)</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      ${{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>


    <!--adwords-->
    <ngx-datatable-column prop="adwPublished" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine">Adwords</p>
        <p class="secondLine">Published</p>
      </ng-template>
      <template ngx-datatable-cell-template let-value="value">
        <i *ngIf="value" class="fa fa-check-square-o"></i>
        <i *ngIf="!value" class="fa fa-square-o"></i>
      </template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="adwMatchCount" width=60>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">Match<br>count</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
        <i *ngIf="value<1000" class="fa fa-warning" title="size should be > 100"></i>
      {{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="adwBidAdj" width=60>
      <ng-template ngx-datatable-header-template let-column="column.prop">
        <p class="firstLine"></p>
        <p class="secondLine editableLine" (click)="editing[column] = true"
           *ngIf="!editing[column]">
          Bid %<br>adj.
          <i class="fa fa-edit"
             title="click to edit all column value and double click in cell for edit one value"
          ></i>
        </p>
        <p class="secondLine"
           *ngIf="editing[column]">
          <input
            [autofocus]
            (blur)="updateColValue($event, column)"
            (keydown.enter)="updateColValue($event, column)"
            type="text"
            [value]=""
          />
        </p>

      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-column="column.prop">
      <span class="editableLine"
        [ngClass]="getCellClass(row.$$index, column, value)"
        title="Click to edit"
        (click)="activateEditMode(row.$$index, column)"
        *ngIf="!editing[row.$$index + column]">
      {{value}}
      </span>
        <input
          [autofocus]
          (blur)="updateValue($event, column, value, row)"
          (keydown.enter)="updateValue($event, column, value, row)"
          *ngIf="editing[row.$$index + column]"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="ad_ctr" width=40>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">CTR</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      {{value}}%
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="ad_conversions" width=50>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine">Conv. <br> rate</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      {{value}}%
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="ad_cost" width=70>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine"> Cost <br> (USD)</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      ${{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="ad_cpa" width=50>
      <ng-template ngx-datatable-header-template>
        <p class="firstLine"></p>
        <p class="secondLine"> CPA <br> (USD)</p>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value">
      <span>
      ${{value}}
      </span>
      </ng-template>
    </ngx-datatable-column>

    <!--footer-->
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template>


        <div style="width: 100%">
          <p style="margin-bottom:0"><strong>Summary</strong></p>
          <label>Current count:
            <select [(ngModel)]="selectSumCurrCount">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('currentCount', selectSumCurrCount ) }}
          </label>

          <hr/>

          <p style="margin-bottom:0"><strong>Facebook</strong></p>
          <label>Match count:
            <select [(ngModel)]="selectfbMatchCount">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('fbMatchCount', selectfbMatchCount ) }}
          </label>
          <label>CPA bid:
            <select [(ngModel)]="selectfbCpaBid">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('fbCpaBid', selectfbCpaBid ) }}
          </label>
          <label>Budget:
            <select [(ngModel)]="selectfbBudget">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('fbBudget', selectfbBudget ) }}
          </label>
          <label>CTR:
            <select [(ngModel)]="selectfbCtr">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('fa_ctr', selectfbCtr ) }}%
          </label>
          <label>Conv.rate:
            <select [(ngModel)]="selectfbConvRate">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('fa_conversions', selectfbConvRate ) }}%
          </label>
          <label>Cost:
            <select [(ngModel)]="selectfbCost">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            ${{getValue('fa_cost', selectfbCost ) }}
          </label>
          <label>CPA:
            <select [(ngModel)]="selectfbCpa">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            ${{getValue('fa_cpa', selectfbCpa ) }}
          </label>

          <hr/>

          <p style="margin-bottom:0"><strong>Adwords</strong></p>
          <label>Match count:
            <select [(ngModel)]="selectadwMatchCount">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('adwMatchCount', selectadwMatchCount ) }}
          </label>
          <label>Bid adj.:
            <select [(ngModel)]="selectadwBidAdj">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('adwBidAdj', selectadwBidAdj ) }}%
          </label>
          <label>CTR:
            <select [(ngModel)]="selectadwCtr">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('ad_ctr', selectadwCtr ) }}%
          </label>
          <label>Conv.rate:
            <select [(ngModel)]="selectadwConvRate">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            {{ getValue('ad_conversions', selectadwConvRate ) }}%
          </label>
          <label>Cost:
            <select [(ngModel)]="selectadwCost">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            ${{getValue('ad_cost', selectadwCost ) }}
          </label>
          <label>CPA:
            <select [(ngModel)]="selectadwCpa">
              <option *ngFor="let item of selectsItem" [ngValue]="item.value">{{item.label}}</option>
            </select>
            ${{getValue('ad_cpa', selectadwCpa ) }}
          </label>
        </div>

      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>
</div>


<div class="row">
  <div class="col-12">
    <h5>Statistics</h5>
    <table class="statisticsTable">
      <thead>
      <tr>
        <th>Total Unique Customers</th>
        <th>Total AVG: CLV</th>
        <th>CPA</th>
        <th>CTR</th>
        <th>Conv.rate</th>
        <th>Total Spend</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2.543.90</td>
        <td>120 USD</td>
        <td>7 USD</td>
        <td>4%</td>
        <td>2%</td>
        <td>40.560 USD</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

