<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col lg-3">
        <div class="card mx-4">
          <div class="card-block p-3">
            <h1>Reset password</h1>
          </div>
          <div *ngIf="statuses.error.status" class="alert alert-danger text-center">{{statuses.error.message}}</div>
          <div *ngIf="statuses.confirm.status" class="alert alert-success text-center">{{statuses.confirm.message}}</div>
          <div class="input-group mb-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="New password" #password>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Repeat new password" #repeat_password>
            </div>
            <button type="button" class="btn btn-block btn-success" (click)="onCreate(password.value, repeat_password.value)">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>


