.form-section {
	margin-bottom:44px;
}
h3 {
	margin-bottom:15px;
	font-size: 2em;
}
.card-profile {
	border-radius: 0;
	width:50%; 
	min-width: 300px; 
	max-width: 550px; 
	margin:50px auto 15px; 
	padding: 20px 20px 30px;
}
.profile-buttons button {
	margin-left: 15px;
}
.error-msg {
	color:#a94442; 
	padding-left: 10px;
}
.save-btn-box {
	text-align:right;
	margin-bottom: 10px;
}
.btn-back {
	text-align:center;
	margin-bottom: 10px;
}

.change-input-type {
	text-transform: uppercase;
	font-size: 11px;
	color: #9da0a8;
	margin-bottom: 15px;
	input{
		vertical-align: text-bottom;
	}
}