<div class="card card-profile">
	<form [formGroup]="profileForm">
		<div  class="form-section" formGroupName="personalInfo">
			<h3>Personal Info</h3>
			<div class="input-group mb-1">
				<input 
				type="text" 
				class="form-control" 
				formControlName="fullName"
				placeholder="Name">
				<span class="input-group-addon">
					<i class="icon-options"></i>
				</span>
			</div>
			<div class="input-group mb-1">
				<input 
				type="text" 
				class="form-control"
				formControlName="company"
				placeholder="Company">
				<span class="input-group-addon">
					<i class="icon-options"></i>
				</span>
			</div>
		</div>
		<div class="save-btn-box"  *ngIf="profileForm.get('personalInfo').dirty"> 
			<button class="btn btn-primary" (click)="saveInfo(profileForm.get('personalInfo'))">Save</button>
		</div>
		<div class="form-section">
			<h3>Email</h3>
			<div class="input-group mb-1">
				<input 
				type="email" 
				class="form-control"
				formControlName="email"
				placeholder="Email">
				<span class="input-group-addon">
					<i class="icon-options"></i>
				</span>
			</div>
		</div>
		<div  class="form-section" formGroupName="changePassword">
			<h3>Change Password</h3>
			<div class="change-input-type">
				<input type="checkbox" (change)="changeType($event)">
				<span>show password</span>
			</div>
			<div class="input-group mb-1">
				<input 
				[type]="formType"
				class="form-control"
				formControlName="oldPassword"
				placeholder="Your password" 
				 name ="old">
				<span class="input-group-addon">
					<i class="icon-lock"></i>
				</span>
			</div>
			<div formGroupName="matchPasswords">
				<div class="input-group mb-1">
					<input 
					[type]="formType" 
					class="form-control"
					formControlName="newPassword"
					placeholder="New password" 
					>
					<span class="input-group-addon">
						<i class="icon-lock"></i>
					</span>
				</div>
				<div class="input-group mb-1">
					<input 
					[type]="formType" 
					class="form-control"
					formControlName="confirmPassword"
					placeholder="Confirm password">
					<span class="input-group-addon">
						<i class="icon-lock"></i>
					</span>
				</div>
			</div>
			<p class="error-msg" *ngIf="!profileForm.get('changePassword').get('matchPasswords').valid &&
			profileForm.controls['changePassword'].get('matchPasswords').get('newPassword').dirty &&
			profileForm.controls['changePassword'].get('matchPasswords').get('confirmPassword').dirty">
				Passwords do not match
			</p>
		</div>
		<div class="profile-buttons">
			<button *ngIf="profileForm.get('changePassword').valid" class="btn btn-primary pull-right" type="button" (click)="changeProfile(profileForm.value)">Change</button>
		</div>
	</form>
</div>
<div class="btn-back">
	<a href="#" (click)="goBack($event)">Go Back</a>
</div>