.navbar-nav {
	position: absolute; 
	top: 0; 
	right: 15px; 
}
.user-profile-btn {

	background: transparent;
	border: 0;
	color: #fff;
	line-height: 48px;
	cursor: pointer;
	&:focus {
		outline:none;
	}
}

.divider { margin:0; }

.dropdown-menu {
    border-radius:0;
    position:absolute;
	right: -15px;
    top: 48px;
	.dropdown-item {
		&:hover{
			cursor:pointer;
		};
		&:focus, &:active{
			background: #f0f2f7;
			color: #333;
			outline: none;
	};
}
}