<ul class="nav navbar-nav">
  <div class="btn-group" dropdown placement="bottom right">
    <button dropdownToggle type="button" class="user-profile-btn">
      {{ profile?.email }}
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem"><span class="dropdown-item" [routerLink]="['/profile']">Profile</span></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><span class="dropdown-item" (click)="logout()">Logout</span>
      </li>
    </ul>
  </div>
</ul>
