header.navbar > .img-avatar {
    height: 36px;
    margin: -3px 10px 0 10px;
}

nav.sidebar-nav {
    .form-control {
        border: 0;
        background: darken($sidebar-bg,10%);
        color: #fff;

        &::-webkit-input-placeholder { color: rgba(255,255,255,.7); }
        &:-moz-placeholder { color: rgba(255,255,255,.7); }
        &::-moz-placeholder { color: rgba(255,255,255,.7); }
        &:-ms-input-placeholder { color: rgba(255,255,255,.7); }
    }
}

.card, .social-box {
    border-top-width: 0;
    border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
    border-top-width: 1px !important;
}

[class*="card-accent-"] {
    border-top-width: 2px !important;
}

.aside-menu {
    .nav-tabs .nav-link,
    .callout {
        border-radius: 0;
    }
}

accounts {
  .account-provider-image {
    height: 40px;
    text-align: center;
    width: 40px;
  }

  .account-name {
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .input-group-addon {
    text-align: left;
    width: 150px;
  }

  .connection-field {
    color: #9da0a8;
    border-color: #e4e6eb;
    padding-left: 6px;
    padding-top: 6px;
    text-align: left;
    vertical-align: middle;
  }
}

body .navigationTabsHeader {
  width: 200px;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  > a {
    border: 1px solid grey;
    text-align: center;
  }
}
