{{&methodName}}(parameters: {
{{#parameters}}'{{&camelCaseName}}'{{&cardinality}}: {{> type}},
{{/parameters}}
    $queryParameters?: any,
    $domain?: string
}): Observable<Response> {
    let domain: string;
    let path = '{{&path}}';
    const auth = !(PUBLIC_URLS_LIST.includes(path));
    let params = {};
    if (parameters.$domain) {
      domain = parameters.$domain;
    } else {
      domain = auth ? environment.apiUrl : environment.publicApiUrl
    }
    for (const key_name in parameters) {
      if (path.includes(`{${key_name}}`)) {
        path = path.replace(`{${key_name}}`, parameters[key_name]);
        delete parameters[key_name];
      }
    }
    {{#isGET}}
    for (const key_name in parameters) {
      if (key_name[0] !== '$') {
        params[key_name] = parameters[key_name];
      }
    }
    {{/isGET}}

    {{^isGET}}
    if ({{#parameters}}'{{&camelCaseName}}'{{/parameters}} in parameters) {
      params = parameters[{{#parameters}}'{{&camelCaseName}}'{{/parameters}}];
    }
    {{/isGET}}
    const name_lower = '{{&methodName}}'.toLowerCase();

    if (parameters.$queryParameters) {
      params = Object.assign({}, params, parameters.$queryParameters);
    }

    return this.execute('{{method}}', domain, path, params, auth);
}
