import { Injectable, Injector } from '@angular/core';
import { Http, RequestOptions, RequestMethod, Response } from '@angular/http';
import { Observable } from 'rxjs/Observable';
import 'rxjs/add/operator/map';
import 'rxjs/add/operator/catch';
import 'rxjs/add/observable/throw';


import { CookieService } from '../cookie/cookie.service';
import { AuthService } from '../auth/auth.service';
import { Router } from '@angular/router';

import { environment } from '../../../environments/environment';


const PUBLIC_URLS_LIST = ['/auth/v1/registration', '/auth/v1/get_token', '/auth/v1/get_token/oauth', '/auth/v1/password/reset/confirm', '/auth/v1/password/reset', '/auth/v1/redirect/gs', '/auth/v1/redirect/shopify', '/auth/v1/password/reset', '/auth/v1/password/reset/confirm'];


@Injectable()
export class ApiHttpService {
  private authService: AuthService;

  constructor(private http: Http, private router: Router, private injector: Injector) {
    setTimeout(() => this.authService = this.injector.get(AuthService));  // timeout for circular dependencies
  }

  execute(method: string, url: string, path: string, params?: { [key: string]: any | any[] }, auth: boolean = true): Observable<Response> {
    const requestConfig = {
      method: RequestMethod[method.charAt(0).toUpperCase() + method.slice(1).toLowerCase()],
      body: {},
      params: {}
    };
    if (requestConfig.method === RequestMethod['Get']) {
      requestConfig.params = params;
    } else {requestConfig.body = params}
    let fullPath: string;

    if (auth) {
      const access_token = CookieService.get('access_token');
      requestConfig.params = Object.assign(requestConfig.params, { 'access_token': access_token });
    }
    if (url.startsWith('http')) {
      fullPath = `${url}${path}`;
    } else {
      if (auth) {
        fullPath = `${environment.apiUrl}/api/${url}/${path}`;
      } else {
        fullPath = `${environment.publicApiUrl}/${url}/${path}`;
      }
    }
    const options = new RequestOptions(requestConfig);
    console.log(fullPath);
    return this.http
      .request(fullPath, options)
      .map(this.extractData)
      .catch(error => this.handleError(error));
  }

  private extractData(res: Response) {
    // console.log('extractData()', res);
    // const body = res.json();
    // console.log('body', body);
    return res;
  }

  private handleError (error: Response | any) {
    // In a real world app, you might use a remote logging infrastructure
    let errMsg: string;
    if (error instanceof Response) {
      const body = error.json() || '';
      const err = body.error || JSON.stringify(body);
      errMsg = `${error.status} - ${error.statusText || ''} ${err}`;
    } else {
      errMsg = error.message ? error.message : error.toString();
    }
    if (errMsg.toLowerCase().includes('token')) {
      this.authService.redirectUrl = this.router.url;
      this.router.navigate(['/login']).then();
      CookieService.clear();
    }
    return Observable.throw(errMsg);
  }

{{#methods}}
    {{> method}}

{{/methods}}
}


{{#definitions}}
type {{&name}} = {{#tsType}}{{> type}}{{/tsType}};
{{/definitions}}
