<div class="row justify-content-start">
  <div class="offset-1 selectWrapper">
    <label>Type</label>
    <ng-select #selectType id="sales-type"
      [items]="Chart.type"
      [active]="[activeType]"
      (selected)="typeSelected($event, selectType.element, 'select', 'select-filter')"
      placeholder="y-axis">
    </ng-select>
  </div>
  <div class="offset-2 selectWrapper">
    <label>Time</label>
    <ng-select #selectTime id="sales-time"
      [items]="currentTime"
      [active]="[time]"
      (selected)="timeSelected($event, selectTime.element, 'select', 'select-filter')"
      >
    </ng-select>
  </div>
</div>
<div class="row justify-content-center">
  <div *ngIf='load' class="col-sm-10 chartWrapper">
    <canvas baseChart
            [datasets]="Chart.data"
            [options]="Chart.options"
            [colors]="Chart.colors"
            [legend]="Chart.legend"
            [chartType]="Chart.chartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div *ngIf='!load' class="col-sm-10 chartWrapper__noData">
   <h4>no data for chart</h4>
  </div>
</div>

