:host /deep/ .btn-secondary,
:host /deep/ .ui-select-search {
  color: #fff;
  background-color: #36a9e1;
  border-color: #36a9e1;
}
:host /deep/ .dropdown-menu{
  min-width:0;
}
.chartWrapper{
  margin-top:25px;
  &__noData{
    margin-top:25px;
    text-align: center;
    border: 1px solid lightGrey;
    border-radius:5px;
    height: 150px;
    h4{
      line-height: 150px;
      color:lightGrey;
    }
  }
}
.selectWrapper{
  width:160px;
}

