<alert [type]="alert.type" *ngFor="let alert of alerts">
  <p class="mb-0" [innerHtml]="alert.message"></p>
</alert>
<!--<div class="alert alert-{{ alert.type }} fade show" role="alert">
  <p class="mb-0" [innerHtml]="alert.fullMessage"></p>
</div>-->
